<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 mg-top">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-dark mb-4" style="width: 120px;">Add New</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-2">
          <input class="form-control form-control-sm rounded-pill" type="text" placeholder="Search for a title">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr class="thText">
              <th>Title</th>
              <th>All Cards</th>
              <th>Stage 1</th>
              <th>Stage 2</th>
              <th>Stage 3</th>
              <th>Stage 4</th>
              <th>Stage 5</th>
              <th>Stage 6</th>
              <th>Stage 7</th>
              <th>Completed</th>
              <th>Updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cardsModel">
              <td>{{item.cardName}}</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>dasdasd</td>
              <td>
                  <i class="far fa-eye cursor mr-3"></i>
                  <i class="far fa-trash-alt cursor text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>




</div>
